@font-face {
  font-family: HelveticaLTStdLight;
  src: url("../fonts/HelveticaNeueLTPro-Lt.woff") format("woff");
}

a.navbar-brand {
	padding: 15px;
}

ul.navbar-nav > li > a {
	padding: 30px;
}

div#map {
	position: fixed;
	height: 100%;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: -1000;
}

.h1, h1 {
	padding-bottom: 1em;
}

.leaflet-popup-content-wrapper {
  background-color: white
}